In [59]:
# Import dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [69]:
## Read in the dataset from wherever it is located
data = 'avocado-updated-2020.csv'
df = pd.read_csv(data)
df.head()

,date,average_price,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,xlarge_bags,type,year,geography
0,1/4/2015,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany
1,1/4/2015,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,2015,Albany
2,1/4/2015,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,2015,Atlanta
3,1/4/2015,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,organic,2015,Atlanta
4,1/4/2015,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,2015,Baltimore/Washington

In [70]:
# Convert the words in the column 'type' to numbers for the machine learning model
#ml_df.type.map(dict(conventional=1, organic=0))
ml_df = pd.get_dummies(df, columns=["type"])
ml_df.head()

,date,average_price,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,xlarge_bags,year,geography,type_conventional,type_organic
0,1/4/2015,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,2015,Albany,1,0
1,1/4/2015,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,2015,Albany,0,1
2,1/4/2015,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,2015,Atlanta,1,0
3,1/4/2015,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,2015,Atlanta,0,1
4,1/4/2015,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,2015,Baltimore/Washington,1,0

In [71]:
#Remove the non-essential columns for machine learning model
ml_df.drop(columns =['geography', '4046', '4225', '4770', 'total_bags', 'small_bags', 'large_bags', 'xlarge_bags', 'date', 'year'])

       average_price  total_volume  type_conventional  type_organic
0               1.22      40873.28                  1             0
1               1.79       1373.95                  0             1
2               1.00     435021.49                  1             0
3               1.76       3846.69                  0             1
4               1.08     788025.06                  1             0
...              ...           ...                ...           ...
30016           1.58    2271254.00                  0             1
30017           1.09    8667913.24                  1             0
30018           1.71     384158.00                  0             1
30019           0.89    1240709.05                  1             0
30020           1.58      36881.00                  0             1

[30021 rows x 4 columns]

In [51]:
# Change the 'total_volume' column dtype to a float for the machine learning model
#ml_df['total_volume'].astype(float)

0          40873.28
1           1373.95
2         435021.49
3           3846.69
4         788025.06
            ...
30016    2271254.00
30017    8667913.24
30018     384158.00
30019    1240709.05
30020      36881.00
Name: total_volume, Length: 30021, dtype: float64

In [53]:
# Format the independent variable in the model
y = ml_df['type'].values.reshape(-1, 1)

In [54]:
# Print the shape
print(y.shape)

(30021, 1)

In [55]:
y = ml_df["type"]
X = ml_df.drop(columns="type")

In [56]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   random_state=1,
                                                   stratify=y)
X_train.shape

(22515, 2)

In [57]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                               max_iter=200,
                               random_state=1)

In [92]:
classifier.fit(X_train, y_train)

ValueError: could not convert string to float: '5/10/2015'