In [63]:
# Import dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [64]:
## Read in the dataset from wherever it is located
data = 'avocado-updated-2020.csv'
df = pd.read_csv(data)
df.head()

,date,average_price,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,xlarge_bags,type,year,geography
0,1/4/2015,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany
1,1/4/2015,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,2015,Albany
2,1/4/2015,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,2015,Atlanta
3,1/4/2015,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,organic,2015,Atlanta
4,1/4/2015,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,2015,Baltimore/Washington

In [65]:
#Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

In [66]:
#Drop the null rows
df = df.dropna()
df.head()

,date,average_price,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,xlarge_bags,type,year,geography
0,1/4/2015,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany
1,1/4/2015,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,2015,Albany
2,1/4/2015,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,2015,Atlanta
3,1/4/2015,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,organic,2015,Atlanta
4,1/4/2015,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,2015,Baltimore/Washington

In [97]:
#Remove the non-essential columns for machine learning model
df.drop(['geography', '4046', '4225', '4770', 'total_bags', 'small_bags', 'large_bags', 'xlarge_bags', 'date', 'year'], axis=1)

       average_price  total_volume          type
0               1.22      40873.28  conventional
1               1.79       1373.95       organic
2               1.00     435021.49  conventional
3               1.76       3846.69       organic
4               1.08     788025.06  conventional
...              ...           ...           ...
30016           1.58    2271254.00       organic
30017           1.09    8667913.24  conventional
30018           1.71     384158.00       organic
30019           0.89    1240709.05  conventional
30020           1.58      36881.00       organic

[30021 rows x 3 columns]

In [68]:
# Format the independent variable in the model
y = df['type'].values.reshape(-1, 1)

In [69]:
# Print the shape
print(y.shape)

(30021, 1)

In [70]:
# return a label
y[:10]

array([['conventional'],
       ['organic'],
       ['conventional'],
       ['organic'],
       ['conventional'],
       ['organic'],
       ['conventional'],
       ['organic'],
       ['conventional'],
       ['organic']], dtype=object)

In [71]:
df.dtypes

date              object
average_price    float64
total_volume     float64
4046             float64
4225             float64
4770             float64
total_bags       float64
small_bags       float64
large_bags       float64
xlarge_bags      float64
type              object
year               int64
geography         object
dtype: object

In [72]:
# Change the 'average_price to an object for machine lerarning model
df['average_price'].astype(object)

0        1.22
1        1.79
2           1
3        1.76
4        1.08
         ...
30016    1.58
30017    1.09
30018    1.71
30019    0.89
30020    1.58
Name: average_price, Length: 30021, dtype: object

In [88]:
# Convert the words in the column 'type' to numbers for the machine learning model
df.type.map(dict(conventional=1, organic=0))

0        1
1        0
2        1
3        0
4        1
        ..
30016    0
30017    1
30018    0
30019    1
30020    0
Name: type, Length: 30021, dtype: int64

In [89]:
y = df["type"]
X = df.drop(columns="type")

In [90]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   random_state=1,
                                                   stratify=y)
X_train.shape

(22515, 12)

In [91]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                               max_iter=200,
                               random_state=1)

In [92]:
classifier.fit(X_train, y_train)

ValueError: could not convert string to float: '5/10/2015'